---
http_interactions:
- request:
    method: get
    uri: http://api.geonames.org/timezoneJSON?lat=-34.92771808058&lng=138.477041423321&username=quidproquo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"time":"2014-06-12 10:26","countryName":"Australia","sunset":"2014-06-13
        17:10","rawOffset":9.5,"dstOffset":9.5,"countryCode":"AU","gmtOffset":10.5,"lng":138.477041423321,"sunrise":"2014-06-13
        07:20","timezoneId":"Australia/Adelaide","lat":-34.92771808058}'
  recorded_at: Thu, 12 Jun 2014 00:56:04 GMT
recorded_with: VCR 2.9.2
