/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree ./bootstrap
 *= require_tree ./dataTables
 *= require_self
 */

body {
  padding-top: 70px;
  padding-bottom: 70px;
}

table {
  table-layout: fixed;
}

td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
